# Covid-19

In [14]:
from __future__ import absolute_import
from __future__ import print_function

import os
import sys
import optparse
import subprocess
import random

import sqlite3

import csv

import pandas as pd

import networkx as nx
import matplotlib.pyplot as plt

# import seaborn as sns

# import pygraphviz

In [15]:
conn = sqlite3.connect('database.db')
conn.text_factory = str
c = conn.cursor()

In [16]:
c.execute("DROP TABLE IF EXISTS basic_information")
conn.commit()
c.execute('''CREATE TABLE basic_information(
 PID int,
 AGE integer
)''')

c.execute("CREATE INDEX basicinfo_pid on basic_information (PID)")

In [17]:
files = ["data/dataset.csv"]
for filename in files:
   with open(filename, mode='r') as csv_file:
         csv_reader = csv.DictReader(csv_file)
         for row in csv_reader:
            c.execute("SELECT PID FROM basic_information WHERE PID = '" +row["Patient ID"] + "'")
            if c.fetchone() == None:
               c.execute("INSERT INTO basic_information(PID, AGE) VALUES(?, ?)", (row["Patient ID"], row["Patient age quantile"]))
conn.commit()

In [18]:
pd.read_sql_query("SELECT * FROM basic_information", conn)

                  PID  AGE
0     44477f75e8169d2   13
1     126e9dd13932f68   17
2     a46b4402a0e5696    8
3     f7d619a94f97c45    5
4     d9e41465789c2b5   15
...               ...  ...
5635  ae66feb9e4dc3a0    3
5636  517c2834024f3ea   17
5637  5c57d6037fe266d    4
5638  c20c44766f28291   10
5639  2697fdccbfeb7f7   19

[5640 rows x 2 columns]

In [80]:
c.execute("DROP TABLE IF EXISTS exams")
conn.commit()
c.execute('''CREATE TABLE exams(
    PID int, 
    SARSCov2 text,
    Hematocrit text,
    Hemoglobin text,
    Platelets text,
    mean_platelet_volume text, 
    red_blood_cells text,
    lymphocytes text,
    mean_corpuscular_hemoglobin_concentration text,
    leukocytes text,
    basophils text,
    mean_corpuscular_hemoglobi text,
    eosinophils text,
    mean_corpuscular_volume text,
    monocytes text,
    red_blood_cell_distribution text,
    serum_glucose text,
    respiratory_syncytial_virus text,
    influenza_aa text,
    influenza_bb text,
    parainfluenza_1 text,
    coronavirusNL63 text,
    rhinovirus text,
    mycoplasma_pneumoniae text,
    coronavirus_HKU1 text,
    parainfluenza_3 text,
    chlamydophila_pneumoniae text,
    adenovirus text,
    parainfluenza_4 text,
    coronavirus229E text,
    coronavirusOC43 text,
    inf_A_H1N1_2009 text,
    bordetella_pertussis text,
    metapneumovirus text,
    parainfluenza_2 text,
    neutrophils text,
    urea text,
    proteina_C_reativa text,
    creatinine text,
    potassium text,
    sodium text,
    influenza_B text,
    influenza_A text,
    alanine_transaminase text,
    aspartate_transaminase text,
    gamma_glutamyltransferase text,
    total_bilirubin text,
    direct_bilirubin text,
    indirect_bilirubin text,
    alkaline_phosphatase text,
    ionized_calcium text,
    strepto_A text,
    magnesium text,
    pCO2_v text,
    Hb_saturation_v text,
    base_excess_v text,
    pO2_v text,
    Fio2 text,
    total CO2 text,
    pH text,
    HCO3_v text,
    Rods text,
    Segmented text,
    Promyelocytes text,
    Metamyelocytes text,
    Myelocytes text,
    Myeloblasts text,
    Urine_Esterase text,
    Urine_Aspect text,
    Urine_pH text,
    Urine_Hemoglobin text,
    Urine_Bile_pigments text,
    Urine_Ketone_Bodies text,
    Urine_Nitrite text,
    Urine_Density text,
    Urine_Urobilinogen text,
    Urine_Protein text,
    Urine_Sugar text,
    Urine_Leukocytes text,
    Urine_Crystals text,
    Urine_Red_blood_cells text,
    Urine_Hyaline_cylinders text,
    Urine_Granular_cylinders text,
    Urine_Yeasts text,
    Urine_Color text,
    Partial_thromboplastin text,
    Relationship text,
    International text,
    Lactic_Dehydrogenase text,
    Prothrombin_time text,
    Vitamin_B12 text,
    Creatine_phosphokinase text,
    Ferritin text,
    Arterial_Lactic_Acid text,
    Lipase_dosage text,
    D_Dimer text,
    Albumin text,
    Hb_saturation text,
    pCO2 text,
    Base_excess text,
    pH_arterial_blood text,
    total_CO2 text,
    HCO3 text,
    pO2 text,
    Arteiral_Fio2 text,
    Phosphor text,
    ctO2 text
  
)''')

c.execute("CREATE INDEX pid_exam on exams (PID)")

In [81]:
files = ["data/dataset.csv"]
for filename in files:
    with open(filename, mode='r') as csv_file:
          csv_reader = csv.DictReader(csv_file)
          for row in csv_reader:
             c.execute("SELECT PID FROM exams WHERE PID  = '" +row["Patient ID"] + "'")
             if c.fetchone() == None:
                c.execute("INSERT INTO exams(PID, SARSCov2, Hematocrit, Hemoglobin, Platelets, mean_platelet_volume, red_blood_cells, lymphocytes, mean_corpuscular_hemoglobin_concentration, leukocytes, basophils,mean_corpuscular_hemoglobi, eosinophils, mean_corpuscular_volume, monocytes, red_blood_cell_distribution, serum_glucose, respiratory_syncytial_virus, influenza_aa, influenza_bb, parainfluenza_1, coronavirusNL63, rhinovirus, mycoplasma_pneumoniae, coronavirus_HKU1, parainfluenza_3, chlamydophila_pneumoniae, adenovirus, parainfluenza_4, coronavirus229E, coronavirusOC43, inf_A_H1N1_2009, bordetella_pertussis, metapneumovirus, parainfluenza_2, neutrophils, urea, proteina_C_reativa, creatinine, potassium, sodium, influenza_B, influenza_A, alanine_transaminase, aspartate_transaminase,gamma_glutamyltransferase, total_bilirubin, direct_bilirubin, indirect_bilirubin, alkaline_phosphatase, ionized_calcium, strepto_A, magnesium, pCO2_v, Hb_saturation_v, base_excess_v, pO2_v, Fio2, total_CO2, pH, HCO3_v, Rods, Segmented, Promyelocytes, Metamyelocytes, Myelocytes, Myeloblasts, Urine_Esterase, Urine_Aspect, Urine_pH, Urine_Hemoglobin, Urine_Bile_pigments, Urine_Ketone_Bodies, Urine_Nitrite, Urine_Density, Urine_Urobilinogen, Urine_Protein, Urine_Sugar, Urine_Leukocytes, Urine_Crystals, Urine_Red_blood_cells, Urine_Hyaline_cylinders, Urine_Granular_cylinders, Urine_Yeasts, Urine_Color, Partial_thromboplastin, Relationship, International, Lactic_Dehydrogenase, Prothrombin_time, Vitamin_B12, Creatine_phosphokinase, Ferritin, Arterial_Lactic_Acid, Lipase_dosage, D_Dimer, Albumin, Hb_saturation,pCO2,Base_excess,pH_arterial_blood,total_CO2,HCO3,pO2,Arteiral_Fio2,Phosphor,ctO2) VALUES(?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?, ?, ?,?,?, ?)", 
                          (row["Patient ID"],
                           row["SARS-Cov-2 exam result"],
                            row["Hematocrit"],
                            row["Hemoglobin"],
                            row["Platelets"],
                            row["Mean platelet volume "],
                            row["Red blood Cells"],
                            row["Lymphocytes"],
                            row["Mean corpuscular hemoglobin concentration (MCHC)"],
                            row["Leukocytes"],
                            row["Basophils"],
                            row["Mean corpuscular hemoglobin (MCH)"],
                            row["Eosinophils"],
                            row["Mean corpuscular volume (MCV)"],
                            row["Monocytes"],
                            row["Red blood cell distribution width (RDW)"],
                            row["Serum Glucose"],
                            row["Respiratory Syncytial Virus"],
                            row["Influenza A"],
                            row["Influenza B"],
                            row["Parainfluenza 1"],
                            row["CoronavirusNL63"],
                            row["Rhinovirus/Enterovirus"],
                            row["Mycoplasma pneumoniae"],
                            row["Coronavirus HKU1"],
                            row["Parainfluenza 3"],
                            row["Chlamydophila pneumoniae"],
                            row["Adenovirus"],
                            row["Parainfluenza 4"],
                            row["Coronavirus229E"],
                            row["CoronavirusOC43"],
                            row["Inf A H1N1 2009"],
                            row["Bordetella pertussis"],
                            row["Metapneumovirus"],
                            row["Parainfluenza 2"],
                            row["Neutrophils"],
                            row["Urea"],
                            row["Proteina C reativa mg/dL"],
                            row["Creatinine"],
                            row["Potassium"],
                            row["Sodium"],
                            row["Influenza B, rapid test"],
                            row["Influenza A, rapid test"],
                            row["Alanine transaminase"],
                            row["Aspartate transaminase"],
                            row["Gamma-glutamyltransferase "],
                            row["Total Bilirubin"],
                            row["Direct Bilirubin"],
                            row["Indirect Bilirubin"],
                            row["Alkaline phosphatase"],
                            row["Ionized calcium "],
                            row["Strepto A"],
                            row["Magnesium"],
                            row["pCO2 (venous blood gas analysis)"],
                            row["Hb saturation (venous blood gas analysis)"],
                            row["Base excess (venous blood gas analysis)"],
                            row["pO2 (venous blood gas analysis)"],
                            row["Fio2 (venous blood gas analysis)"],
                            row["Total CO2 (venous blood gas analysis)"],
                            row["pH (venous blood gas analysis)"],
                            row["HCO3 (venous blood gas analysis)"],
                            row["Rods #"],
                            row["Segmented"],
                            row["Promyelocytes"],
                            row["Metamyelocytes"],
                            row["Myelocytes"],
                            row["Myeloblasts"],
                            row["Urine - Esterase"],
                            row["Urine - Aspect"],
                            row["Urine - pH"],
                            row["Urine - Hemoglobin"],
                            row["Urine - Bile pigments"],
                            row["Urine - Ketone Bodies"],
                            row["Urine - Nitrite"],
                            row["Urine - Density"],
                            row["Urine - Urobilinogen"],
                            row["Urine - Protein"],
                            row["Urine - Sugar"],
                            row["Urine - Leukocytes"],
                            row["Urine - Crystals"],
                            row["Urine - Red blood cells"],
                            row["Urine - Hyaline cylinders"],
                            row["Urine - Granular cylinders"],
                            row["Urine - Yeasts"],
                            row["Urine - Color"],
                            row["Partial thromboplastin time (PTT) "],
                            row["Relationship (Patient/Normal)"],
                            row["International normalized ratio (INR)"],
                            row["Lactic Dehydrogenase"],
                            row["Prothrombin time (PT), Activity"],
                            row["Vitamin B12"],
                            row["Creatine phosphokinase (CPK) "],
                            row["Ferritin"],
                            row["Arterial Lactic Acid"],
                            row["Lipase dosage"],
                            row["D-Dimer"],
                            row["Albumin"],
                            row["Hb saturation (arterial blood gases)"],
                            row["pCO2 (arterial blood gas analysis)"],
                            row["Base excess (arterial blood gas analysis)"],
                            row["pH (arterial blood gas analysis)"],
                            row["Total CO2 (arterial blood gas analysis)"],
                            row["HCO3 (arterial blood gas analysis)"],
                            row["pO2 (arterial blood gas analysis)"],
                            row["Arteiral Fio2"],
                            row["Phosphor"],
                            row["ctO2 (arterial blood gas analysis)"]
                          ))
conn.commit()

In [82]:
pd.read_sql_query("SELECT * FROM exams WHERE SARSCov2='positive'", conn)

,PID,SARSCov2,Hematocrit,Hemoglobin,Platelets,mean_platelet_volume,red_blood_cells,lymphocytes,mean_corpuscular_hemoglobin_concentration,leukocytes,...,Hb_saturation,pCO2,Base_excess,pH_arterial_blood,total_CO2,HCO3,pO2,Arteiral_Fio2,Phosphor,ctO2
0,78511c183ae18bc,positive,,,,,,,,,...,,,,,,,,,,
1,d7834ed75f2da44,positive,,,,,,,,,...,,,,,,,,,,
2,b16b49f7bd3e692,positive,,,,,,,,,...,,,,,,,,,,
3,4382f5ea05e60c4,positive,0.991838216781616,0.792187631130219,-0.341547667980194,1.46918761730194,1.65347576141357,-0.048383265733719,-0.452899485826492,-0.420197039842606,...,,,,,-0.479346334934235,,,,,
4,d3729cd2658ca64,positive,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,5c386388ba3c3f0,positive,,,,,,,,,...,,,,,,,,,,
552,9f8dfe2ae239238,positive,,,,,,,,,...,,,,,,,,,,
553,db77903261ab6d0,positive,,,,,,,,,...,,,,,,,,,,
554,ae66feb9e4dc3a0,positive,,,,,,,,,...,,,,,,,,,,
555,2697fdccbfeb7f7,positive,0.69428688287735,0.541563928127289,-0.906829118728638,-0.325903296470642,0.578023791313171,-0.295725524425507,-0.353319019079208,-1.28842806816101,...,,,,,,,,,,

In [ ]:
c.execute("DROP TABLE IF EXISTS treatments")
conn.commit()
c.execute('''CREATE TABLE treatments(
    PID int, 
    regular text,
    semi_intensive text,
    intensive text
  
)''')

c.execute("CREATE INDEX pid_treatment on treatments (PID)")

In [ ]:
files = ["data/dataset.csv"]
for filename in files:
    with open(filename, mode='r') as csv_file:
          csv_reader = csv.DictReader(csv_file)
          for row in csv_reader:
             c.execute("SELECT PID FROM treatments WHERE PID  = '" +row["Patient ID"] + "'")
             if c.fetchone() == None:
                c.execute("INSERT INTO treatments(PID,regular,semi_intensive,intensive) VALUES(?, ?, ?, ?)", 
                          (row["Patient ID"], 
                           row["Patient addmited to regular ward (1=yes, 0=no)"], 
                           row["Patient addmited to semi-intensive unit (1=yes, 0=no)"],
                           row["Patient addmited to intensive care unit (1=yes, 0=no)"]
                          ))
conn.commit()

In [ ]:
pd.read_sql_query("SELECT * FROM treatments JOIN exams AS e WHERE e.SARSCov2='positive'", conn)